body {
    background-color: aqua;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*soy un comentario*/
.class{
    max-width: 90%;
    width: 600px;
    margin: 0 auto;
    padding: 20px; 
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}